{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == travel.author.id %}

<div class="form-group">
    <form method="POST" action=""></form>
    {% csrf_token %}
    {{ form.as_p }}

    <button type="button" class="btn btn-light">Edit Travel</button>
    <button type="button" class="btn btn-light"><a href="{% url 'delete-travel' travel.pk %}">(Delete Travel)</a></button>
    <a href="{% url 'travel-detail' %}">Back</a>
</div>

{% endif %}
{% endif %}

{% endblock %}
<small><a href="{% url 'delete-travel' travel.pk %}">(Delete Travel)</a></small>