{% extends 'base.html' %}
{%'home.html' %}

{% block content %}


<h1>{{travel.title}}</h1>
<small>By {{travel.author}} {{travel.travel_date}}</small>

{% if user.is_authenticated %}
{% if user.id == travel.author.id %}

    <small><a href="{% url 'edit-travel' travel.pk %}">(Edit Travel)</a></small>
    <small><a href="{% url 'delete-travel' travel.pk %}">(Delete Travel)</a></small>
{% endif %}
{% endif %}

{% if travel.image %}
<img src="{{ travel.image.url}}" alt="{{ travel.title }}">
{% endif %}

{{travel.body}}

{% if user.is_authenticated %}
    <form action="{% url 'like-travel' travel.pk %}" method="POST">
    {% csrf_token %}
    {% if liked %}
        <button type="submit" name="travel_id", value="{{ travel.id }}" class="btn btn-danger btn-sm">Unlike</button>
    {% else %}
        <button type="submit" name="travel_id", value="{{ travel.id }}" class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
    {% endif %}
    <br>
    
</form>
{% endif %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="{% url 'profile' travel.author.profile.id %}"></a><img src="{{ post.author.profile.pic.url }}" class="img-fluid rounded-start" alt="{{ post.author }}"></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="{% url 'profile' travel.author.profile.id %}"><h5 class="card-title">{{ post.author }}</h5></a>
          {% if post.author.profile.bio %}
          <p class="card-text">{{ post.author.profile.bio }} </p>
          {% endif %}
          {% if post.author.profile.social_media %}
          <p class="card-text"><small class="text-body-secondary">{{ post.author.profile.social_media }}</small></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% for comment in travel.travel_comments.all %}
    {{ comment.author}}
    {{ comment.created_on}}
    <br>
    <hr>
    {{ comment.body}}
    <hr>
    {% endfor %}


<a href="{% url 'landing' %}">Back</a>


{% endblock %}